.edu-cont{
    /* border: 1px solid white; */

    width: 90vw;
    height: 30vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.all-edu-in{
    padding-top: 60px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-hr {
    width: 50vw;            /* Set the width to 50% of the viewport width */
    margin: auto;    /* Center the line horizontally with auto margins */
    border: 1px solid white; /* Set the border style */
}
#about-main{
    font-size: 55px;
}
.left-edu-cont{
    width: 30vw;
}
.right-edu-cont{
    height: 2vh;
}
.left-edu-cont img{
width: 400px;
/* margin-top: ; */
}
.right-edu-cont-1{
    height: 50px;
}