.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
color: white;
width: 90vw;
display: flex;
height: 12vh;
margin: auto;
margin-top: 4px;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
}
.navbar ul{
    gap: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.nav-name{
    font-size: 40px;
    cursor: pointer;
}